
button {
    width: 100%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    text-align: center;
    font-family: fantasy;
    font-weight: 900;
    font-size: 50px; 
    border: solid 5px lightgreen;
    color: darkgreen;
    
}
body { 
    text-align:center; 
} 

section{
    width: 100%;

}
