/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  display: flex;
  flex-direction: column;
  margin: 0 20%;
}
h1, h2, h3, img{
  align-self: center;
}
html{
  background-color: black;
  color: rgb(79, 209, 79)
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
