
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-weight: 600px;
}

section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: rgb(190, 164, 110);
}

.container {
  width: 90%;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}

.brand{
  text-align: center;
  font-size: 4rem;
  color: whitesmoke;
  margin-bottom: 30px;
}

form{
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  background-color: whitesmoke;
}

form input{
  width: 90%;
  background-color: transparent;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 2rem;
  display: inline-block;
}

form i{
  width: 9%;
  font-size: 3rem;
  margin: -9px;
  color: black;
}

.search-result{
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}

.item{
  width: 100%;
  border-radius: 8px;
  background-color: black;
  padding: 15px;
  overflow:hidden;
}

.item img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
}

.item .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item .title{
  color: pink;
  margin: 20px 10px 0 0;
  font-size: 1.8rem;
  font-weight: 400px;
}

.view-button{
  text-decoration: none;
  text-align: center;
  width: 130px;
  padding: 10px 0;
  background-color: navy;
  color: white;
  font-size: 1.3rem;
  margin-top: 20px;
  align-self: flex-start;
}

.item-data{
  color: whitesmoke;
  display: block;
  margin-top: 10px;
  font-size: 1.4rem;
  letter-spacing: .05rem;
  line-height: 2rem;
}

.container.initial .brand{
  font-size: 7rem;
}
.container.initial form{
  max-width: 800px;
}
.container.initial form input{
  padding: 20px;
  font-size: 3rem;
}