*{
box-sizing: border-box;
}
html{
background-image:linear-gradient( rgb(228, 26, 26), blue);
height: 1350px;
background-repeat: no-repeat;
}
body{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1300px;
    width: 600px;
    background: black;
    color: white;
}
img{
    width: 200px;
    display: block;
    margin: 0 auto;
}