* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    text-align: center;
    background: url('../images/toiletfrog.jpg');
    font-family: 'Signika Negative', Arial, Helvetica, sans-serif;
}

/* Clearfix Hack */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* Body Styling */

header, main {
    font-size: 2rem;
    background: rgba(248,93,92,.4);
    margin: 4% 20%;
    font-weight: 700;
    padding: 1%;
}

main {
    border-radius: 50%;
}

img {
    height: 150px;
}