* {
    box-sizing: border-box;
}

/*
==================================================
Layout
==================================================
*/
html {
    font-size: 62.5%;
    text-align: center;
}

h1 {
    font-size: 5rem;
    margin-bottom: 175px;
}

h2,
span,
p {
    font-size: 6rem;
}

/*
==================================================
Containers
==================================================
*/
.hidden {
    display: none;
}

span {
    display: block;
    margin: 15px 0;
}

/*
==============================================================================
Lack of Styling Makes this Even Funnier, So I am Going to Leave it as is
==============================================================================
*/